name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: OlegGazon
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
            dist/snake.gif?color_snake=74CABC&color_dots=#011627,#74CABC,#F1E05A,#663399,#FFFFFF